*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "popins",sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: green;
}

.nav{
    text-transform: capitalize;
    color: #fff;
    width: 40%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    left: 30%;
    top: 10px;
}


.image{
    position: absolute;
    left: 40%;
    top: 20%;
    /* transform: translate(-50%, -50%); */
    z-index: 9;
}

.image img{
    width: 70%;
    height: 90%;
}


.text{
    width: 25%;
    height: 40%;
    position: absolute;
    left: 10%;
    top: 30%;
    color: #fff;
}

.text h1{
    font-size: 50px;
}

.text p{
    font-size: 12px;
    line-height: 15px;
    padding: 15px 0 ;
}

button{
    background: transparent;
    width: 90px;
    height: 30px;
    color: #fff;
}

.logo{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 8;
}

.logo i{
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nm{
    position: absolute;
    left: 20%;
    top: 23%;
    color: #fff;
}

.line{
    width: 2px;
    height: 40%;
    position: absolute;
    left: 33%;
    top: 7.5%;
    transform: rotate(90deg);
    /* padding-left: 30%; */
    background-color:#fff;
}


.ln{
    width: 60px;
    height: 100%;
    /* border: 1px solid black; */
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgb(4, 103, 4);


}

.logos{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 40%;
    right: 20px;
}
.logos i{
    padding: 20px 0;
    font-size: 23px;
}
.line2{
    z-index: 7;
    width: 1px;
    height: 20%;
    background-color: #fff;
    position: absolute;
    right: 30px;
    top: 20%;

}
.line3{
    z-index: 7;
    width: 1px;
    height: 20%;
    background-color: #fff;
    position: absolute;
    right: 30px;
    bottom: 12%;

}

.name{
    width: 20%;
    height: 5%;
    font-size: 25px;
    padding: 0 60px;
    
}
span{
    font-family: cursive;
    color: rgb(3, 43, 3);
}

.name h2{
    font-family: cursive;
    color: #fff;

}
.heading{
    width: 80%;
    /* height: 20%; */
    position: absolute;
    bottom: 5px;
    left: 10%;
}

.heading>h1{
    color: #fff;
    font-size: 170px;
    font-weight: 900;
}


@media (max-width:550px) {
    .nav{
        display: none;
    }

    .heading h1{
        font-size: 13vw;
    }

    .image img{
        position: relative;
        right: 20%;
        /* top: 0; */
    }

    .text h1,button{
        /* font-size: 30px; */
        position: relative;
        top: 60%;
    }

    .text p{
        display: none;
    }

    .nm,.line{
        display: none;
    }
}